* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ffc1c4, #ffd5d8);
    overflow: hidden;
}

.wrapper {
    width: 90%;
    padding: 0;
    text-align: center;
}

#wheel {
    width: 100%;
    max-height: 420px;
    margin-top: 0.5rem;
}

.btn-row {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.btn-row input {
    padding: 12px 40px;
    font-size: 1.2rem;
    font-weight: 550;
    border: none;
    border-radius: 50px;
    background: linear-gradient(135deg, #ffd700, #ffa500);
    color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: none;
    outline: none;
    margin-right: 0.5rem;
}

.btn-row input::placeholder {
    color: #fff;
}

button {
    margin-top: 2rem;
    padding: 12px 40px;
    font-size: 1.2rem;
    font-weight: 550;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(135deg, #ffd700, #ffa500);
    color: #000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:active {
    scale: 0.95;
}

button.hide {
    display: none;
}

button:disabled {
    background: linear-gradient(135deg, #debd00, #cc8501);
    opacity: 0.7;
    cursor: not-allowed;
}

#submit-btn {
    color: #fff;
}

#final-value {
    margin-top: 30px;
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
    color: #ff0000;
}

.arrow {
    position: absolute;
    top: -5px;
    left: 50%;
    width: 70px;
    transform: translateX(-50%);
    filter: drop-shadow(0px 0px 10px rgba(255, 83, 83, 0.6));
    animation: float 1s ease-in-out infinite alternate;
}

@keyframes float {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    100% {
        transform: translateX(-50%) translateY(10px);
    }
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .arrow {
        width: 65px;
    }

    #wheel {
        max-height: 380px;
        margin-top: 1rem;
    }

    button {
        padding: 11px 35px;
        font-size: 1.1rem;
    }

    #final-value {
        font-size: calc(0.95rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .arrow {
        width: 50px;
    }

    #wheel {
        max-height: 360px;
        margin-top: 1rem;
    }

    button {
        padding: 9px 30px;
        font-size: 1rem;
    }

    #final-value {
        font-size: calc(0.85rem + 0.5vw);
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }

    .wrapper {
        overflow: hidden;
    }

    .arrow {
        top: 0;
        width: 50px;
    }

    #wheel {
        margin-top: 0;
    }

    .btn-row {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .btn-row form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-row form input {
        width: 90%;
        margin-top: 2rem;
        padding: 10px 1rem;
        font-size: 1.1rem;
    }

    #submit-btn {
        margin-top: 1rem;
    }

    button {
        padding: 10px 30px;
        font-size: 1.1rem;
        width: max-content;
    }

    #final-value {
        font-size: calc(1.1rem + 0.5vw);
    }
}